
services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_DB: hrmf
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"
    networks:
      - app-network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  mongo:
    image: mongo:7
    container_name: mongo_db
    environment:
      MONGO_INITDB_DATABASE: hrms
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  hrms_backend:
    build: .
    image: anonto/hrms-backend:latest
    container_name: hrms_backend
    ports:
      - "8080:8080"
    environment:
#      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres_db:5432/hrmf
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_DATA_MONGODB_URI: mongodb://mongo_db:27017/hrms
      MAIL_ADDRESS_USERNAME: anontom90@gmail.com
      MAIL_APP_PASSWORD: byyp nttr zdjs dfxa
      APP_BASE_URL: http://localhost:8080
      ADMIN_EMAIL: superadmin@hrms.com
      ADMIN_PASSWORD: SuperAdmin@123
      ADMIN_NAME: System Super Admin
      ALLOWED_ORIGINS: "*"
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
      - ./config:/app/config
    depends_on:
      postgres:
        condition: service_healthy
      mongo:
        condition: service_started
    networks:
      - app-network
    restart: on-failure

volumes:
  postgres_data:
  mongo_data:

networks:
  app-network:
    driver: bridge