spring:
  application:
    name: hrmf-project
  datasource:
    url: jdbc:postgresql://localhost:5432/hrmf
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    jpa:
      hibernate:
        ddl-auto: create-drop
      properties:
        hibernate:
          cache:
            use_second_level_cache: false
            use_query_cache: false
          dialect: org.hibernate.dialect.PostgreSQLDialect
          format_sql: true
          jdbc:
            batch_size: 20
          order_inserts: true
          order_updates: true
      show-sql: true
      sql:
        init:
          mode: always
          continue-on-error: true

server:
  port: 8080

logging:
  root: DEBUG