spring:
  application:
    name: hrmf-project
  datasource:
    url: jdbc:postgresql://localhost:5432/hrmf
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    jpa:
      hibernate:
        ddl-auto: update
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
          format_sql: true
          jdbc:
            batch_size: 20
          order_inserts: true
          order_updates: true
      show-sql: true
    sql:
      init:
        mode: always
        continue-on-error: true

server:
  port: 8001

logging:
  level:
    com.hrmf.user_service: DEBUG
    org.springframework.web: DEBUG
    org.hibernate: DEBUG